.ui.secondary.menu
  a.active.item(href="/")
    | Home
  a.item(href="/programs")
    | Programs
  a.item
    | Friends
  .right.menu
    .item
      .ui.icon.input
        input(type='text', placeholder='Search...')
        i.search.link.icon
    a.ui.item
      | Logout
