extends layout

block content
  h1 Programs
  
  ul
    li
      h2 Sample Program
        p Sample program description.
      each program, i in programsList
        li
          h2 Original: #{program.name}
          p #{program.description}
      each prog, i in programs 
        li 
          h2 #{prog.name}
            p #{prog.description}
    
      
  form(id="addProgramForm" method="post" action="/programs")
    input(type="text", placeholder="Program Name", name="name", value = "")
    input(type="text" placeholder="Description", name="description", value = "")
    button(type="submit") Submit
      
    
